{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-4">
                      <p class="name-row" id="p1name">
                          {{name1}}
                      </p>
            </div>
            <div class="col-md-4">
                <p class="name-row">VS</p>
            </div>
            <div class="col-md-4">
                <p class="name-row" id="p2name">
                  {{name2}}
                </p>
            </div>
        </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <p id="game-id">game id: {{ game_id }}</p>
          </div>
      </div>
    <!-- crossword container -->
    <!-- <div class="container-fluid"> -->
      <div class="crossword-container">
      <div class="row">
          <div class="col-md-4">
            <div class="container submitted-words">
                <table class="table table-bordered" id="p1-table">
                  <thead>
                  <tr>
                      <th>{{ name1 }}'s words</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4">
                <table id="main-table">
                  <tr class="row1">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row3">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row4">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row5">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row6">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row7">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row8">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                </table>
              </div>
          <div class="col-md-4">
              <div class="container submitted-words">
                <table class="table table-bordered" id="p2-table">
                  <thead>
                  <tr>
                      <th id="p2-words">{{ name2 }}'s words</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                  </tr>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
      </div>
      <div class="row">
            <div class="col"  id="timer">
              Click to begin
            </div>
      </div>
      <!-- </div> -->
      <div class="row" id="current-word-row">

      </div>
      <div class="row" id="button-row">
        <button type="submit" class="btn btn-default start-game-button">Start Game</button>
      </div>

    </div>
  </div>



  <script src="{{ url_for('static',filename='controller.js') }}"></script>

    {% endblock %}
