{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-4">
                      <p class="name-row">
                          {{name}}
                      </p>
            </div>
            <div class="col-md-4">
                <p class="name-row">VS</p>
            </div>
            <div class="col-md-4">
                <p class="name-row"></p>
            </div>
        </div>
      <div class="row">
          <p id="game-id">game id: {{ game_id }}</p>
      </div>
    <!-- crossword container -->
    <!-- <div class="container-fluid"> -->
      <div class="row">
            <div class="col crossword-container">
                <table id="main-table">
                  <tr class="row1">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row3">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row4">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row5">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row6">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row7">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                  <tr class="row8">
                    <td class="column1">
                      <div class="content"></div>
                    </td>
                    <td class="column2">
                      <div class="content"></div>
                    </td>
                    <td class="column3">
                      <div class="content"></div>
                    </td>
                    <td class="column4">
                      <div class="content"></div>
                    </td>
                    <td class="column5">
                      <div class="content"></div>
                    </td>
                    <td class="column6">
                      <div class="content"></div>
                    </td>
                    <td class="column7">
                      <div class="content"></div>
                    </td>
                    <td class="column8">
                      <div class="content"></div>
                    </td>
                  </tr>
                </table>
              </div>
            <div class="col"  id="timer">
              Click to begin
            </div>
      <!-- </div> -->
      <div class="row" id="current-word-row">

      </div>
      <div class="row" id="button-row">
        <button type="submit" class="btn btn-default start-game-button">Start Game</button>
      </div>

    </div>
  </div>





    {% endblock %}
