.jumbotron {
  height: 800px;
  border-width: 20px;
  position: relative;
    margin-top: 50px;
}

#game-id {
  border: 1px solid black;
}

.submitted-words {
    height: 350px;
    overflow: auto;
}

.name-row {
    font-size: 50px !important;
}

td, th {
  background-color: white;
}

#timer {
    padding-top: 20px;
}

.crossword-container {
  margin-top: 50px;
}

#button-row {
  margin:40px;
}

.game-button {
  margin: 20px;
}

#current-word {
  margin-top: 10px;
}

.create-game-holder {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#main-table > tr, td {
    border: 1px solid black;

}

#main-table {
    /*border-collapse: collapse;*/
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

.crossword-container {
  /*margin: 30px;*/
}


.join-game-holder {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*.init-game-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}*/
